<?xml version = " 1.0 " encoding = " UTF-8 " ?>
<configuration >
    <système .webServer>
    <gestionnaires >
        <add  name = " httpPlatformHandler "  path = " * "  verb = " * "  modules = " httpPlatformHandler "  resourceType = " Non spécifié " />
    </gestionnaires >
    <httpPlatform  processPath = " % JAVA_HOME% \ bin \ java.exe "
      arguments = " -Djava.net.preferIPv4Stack = true -Dserver.port =% HTTP_PLATFORM_PORT% jar & quot; % HOME% \ Site \ wwwroot \ cov-proxym-0.0.1-SNAPSHOT & quot; " >
    </ httpPlatform>
</system .webServer>
        </configuration>
